<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Priority</th>
    <th></th>
    <th></th>
  </tr>
<%= paginate @tasks %>
<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.item, task %></td>
    <td><%= task.priority %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
